############################################################################
#                                                                          #
#                                CORE RULES                                #
#                                                                          #
############################################################################

root = true

[*]
indent_style = space

# Code files
[*.{cs,csx,vb,vbx}]
indent_size = 4
insert_final_newline = true
charset = utf-8-bom

[*.sln]
indent_style = tab

# XML project files
[*.{csproj,vcxproj.filters,proj,projitems,shproj}]
indent_size = 4

# XML config files
[*.{xml,config,props,targets,nuspec,resx,ruleset,vsixmanifest,vsct}]
indent_size = 4

# JSON files
[*.{json,json5,webmanifest}]
indent_size = 4

# YAML files
[*.{yml,yaml}]
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false

# Web files
[*.{htm,html,js,jsm,ts,tsx,css,sass,scss,less,svg,vue}]
indent_size = 4

[*.{cmd,bat}]
end_of_line = crlf

# Shell script files
[*.sh]
end_of_line = lf
indent_size = 4
